<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vij Cait and Ally Book Club</title>
</head>
<body>
  <main>
    <form action="/searches/new" method="post">
      <input type="text" name="search" placeholder="enter title or author" required>
      <fieldset>
        <label for="title">
          <div>Title</div>
          <input type="radio" name="search" value="title" required>
        </label>
      </fieldset>
      <fieldset>
          <label for="author">
            <div>Author</div>
            <input type="radio" name="search" value="author" required>
          </label>
      </fieldset>
      <button type="submit">Submit</button>
    </form>
  </main>
 
</body>
</html>