<header>
    <aside class="dropdown">
        <div class="container">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
          <nav class="navBar">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/searches/new">New Search </a></li>
              </ul>
          </nav>
      </aside>
  </header>